{% extends "base.html"%}

{% block content%}
    <img src="" alt="">
    <h1 name="name"> {{ user.FirstName, user.LastName }}</h1>
    
    <form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST">
        <button type="submit">Delete</button>
    </form>

<div>
    <h2>Posts</h2>
    <ol>
    {% for post in user.posts%}
    <li>
        <a href="/posts/{{post.id}}">{{ post.title}}</a>
    </li>
    {%endfor%}
    </ol>
    <a href="/users/{{user.id}}/posts/new">
        Add Post
    </a>
</div>
{% endblock%}

